<?xml version="1.0"?>
<config>
  <modules>
    <Manohar_Pos>
      <version>0.1.0</version>
    </Manohar_Pos>
  </modules>
  <frontend>
    <routers>
      <pos>
        <use>standard</use>
          <args>
            <module>Manohar_Pos</module>
            <frontName>pos</frontName>
          </args>
      </pos>
    </routers>
		<layout>
		  <updates>
			<pos>
			  <file>pos.xml</file>
			</pos>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <pos>
        <class>Manohar_Pos_Helper</class>
      </pos>
    </helpers>
	<blocks>
	  <pos>
		<class>Manohar_Pos_Block</class>
	  </pos>
	</blocks>
  </global>
</config> 